Spring_Hibernate_CompositeKey_OneToMany/Custom/QUA/Locate/wsdl/LocateServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://microsretail.com/Locate" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="LocateService" targetNamespace="http://microsretail.com/Locate">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://microsretail.com/Locate" elementFormDefault="unqualified" targetNamespace="http://microsretail.com/Locate" version="1.0">
<xs:element name="EchoTest" type="tns:EchoTest"/>
<xs:element name="EchoTestResponse" type="tns:EchoTestResponse"/>
<xs:element name="Fulfillments" type="tns:Fulfillments"/>
<xs:element name="FulfillmentsResponse" type="tns:FulfillmentsResponse"/>
<xs:element name="LocateItems" type="tns:LocateItems"/>
<xs:element name="LocateItemsResponse" type="tns:LocateItemsResponse"/>
<xs:element name="OrderSearch" type="tns:OrderSearch"/>
<xs:element name="OrderSearchResponse" type="tns:OrderSearchResponse"/>
<xs:element name="OrderUpdate" type="tns:OrderUpdate"/>
<xs:element name="OrderUpdateResponse" type="tns:OrderUpdateResponse"/>
<xs:element name="ProductAvailability" type="tns:ProductAvailability"/>
<xs:element name="ProductAvailabilityResponse" type="tns:ProductAvailabilityResponse"/>
<xs:element name="ProductUpdate" type="tns:ProductUpdate"/>
<xs:element name="ProductUpdateResponse" type="tns:ProductUpdateResponse"/>
<xs:element name="StatusListRequest" type="tns:StatusListRequest"/>
<xs:element name="StatusListRequestResponse" type="tns:StatusListRequestResponse"/>
<xs:element name="StatusRequest" type="tns:StatusRequest"/>
<xs:element name="StatusRequestResponse" type="tns:StatusRequestResponse"/>
<xs:element name="StatusUpdate" type="tns:StatusUpdate"/>
<xs:element name="StatusUpdateResponse" type="tns:StatusUpdateResponse"/>
<xs:element name="SubmitOrder" type="tns:SubmitOrder"/>
<xs:element name="SubmitOrderResponse" type="tns:SubmitOrderResponse"/>
<xs:complexType name="StatusRequest">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="status_request_message" type="tns:StatusInquiryRequestMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusInquiryRequestMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:StatusInquiryRequestMessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:StatusInquiryRequestMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusInquiryRequestMessageHeaderTypeBean">
<xs:sequence>
<xs:element name="datetime" type="xs:string"/>
<xs:element name="version" type="xs:string"/>
<xs:element name="source" type="xs:string"/>
<xs:element name="destination" type="xs:string"/>
</xs:sequence>
<xs:attribute name="xaction_type" type="xs:string" use="required"/>
<xs:attribute name="xaction_response" type="xs:string" use="required"/>
<xs:attribute name="message_type" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="StatusInquiryRequestMessageBodyTypeBean">
<xs:sequence>
<xs:element name="lookup_data" type="tns:StatusInquiryRequestMessageLookupDataTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusInquiryRequestMessageLookupDataTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="ref_transaction_no" type="xs:string"/>
<xs:element name="employee_id" type="xs:string"/>
<xs:element name="store_location" type="tns:StatusInquiryRequestMessageStoreLocationTypeBean"/>
</xs:sequence>
<xs:attribute name="order_id" type="xs:string"/>
<xs:attribute name="request_id" type="xs:string"/>
</xs:complexType>
<xs:complexType name="StatusInquiryRequestMessageStoreLocationTypeBean">
<xs:sequence/>
<xs:attribute name="location_cd" type="xs:string"/>
<xs:attribute name="system_cd" type="xs:string"/>
</xs:complexType>
<xs:complexType name="StatusRequestResponse">
<xs:sequence>
<xs:element minOccurs="0" name="status_response_message" type="tns:StatusResponseMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusResponseMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:MessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:StatusInquiryResponseMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MessageHeaderTypeBean">
<xs:sequence>
<xs:element name="datetime" type="xs:string"/>
<xs:element name="version" type="xs:string"/>
<xs:element name="source" type="xs:string"/>
<xs:element name="destination" type="xs:string"/>
</xs:sequence>
<xs:attribute name="xaction_response" type="xs:string" use="required"/>
<xs:attribute name="xaction_type" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="StatusInquiryResponseMessageBodyTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="orders" type="tns:StatusInquiryResponseMessageOrdersTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusInquiryResponseMessageOrdersTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="order" type="tns:StatusInquiryResponseMessageOrderTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusInquiryResponseMessageOrderTypeBean">
<xs:sequence>
<xs:element name="order_type" type="xs:int"/>
<xs:element minOccurs="0" name="items" type="tns:StatusInquiryResponseMessageItemsTypeBean"/>
<xs:element minOccurs="0" name="sold_to_customer" type="tns:SoldToCustomerTypeBean"/>
<xs:element minOccurs="0" name="transaction_tenders" type="tns:TransactionTendersTypeBean"/>
</xs:sequence>
<xs:attribute name="currency" type="xs:string"/>
<xs:attribute name="ref_transaction_no" type="xs:string"/>
<xs:attribute name="balance_due" type="xs:double"/>
<xs:attribute name="freight" type="xs:double"/>
<xs:attribute name="source_code" type="xs:string"/>
<xs:attribute name="gift" type="xs:string"/>
<xs:attribute name="ship_via_description" type="xs:string"/>
<xs:attribute name="ship_via" type="xs:string"/>
<xs:attribute name="special_instructions" type="xs:string"/>
<xs:attribute name="transaction_total" type="xs:double" use="required"/>
<xs:attribute name="transaction_tax" type="xs:double" use="required"/>
<xs:attribute name="transaction_subtotal" type="xs:double" use="required"/>
<xs:attribute name="order_date" type="xs:string" use="required"/>
<xs:attribute name="originating_location_description" type="xs:string" use="required"/>
<xs:attribute name="originating_location_cd" type="xs:string" use="required"/>
<xs:attribute name="originating_system_cd" type="xs:string" use="required"/>
<xs:attribute name="order_status" type="xs:string" use="required"/>
<xs:attribute name="order_id" type="xs:string" use="required"/>
<xs:attribute name="request_id" type="xs:int" use="required"/>
<xs:attribute name="under_review" type="xs:string"/>
<xs:attribute name="order_additional_freight_charges" type="xs:decimal"/>
<xs:attribute name="order_additional_charges" type="xs:decimal"/>
<xs:attribute name="ship_complete" type="xs:string"/>
<xs:attribute name="freight_tax" type="xs:decimal"/>
<xs:attribute name="order_message" type="xs:string"/>
<xs:attribute name="gift_message" type="xs:string"/>
</xs:complexType>
<xs:complexType name="StatusInquiryResponseMessageItemsTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="item" type="tns:StatusInquiryResponseMessageItemTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusInquiryResponseMessageItemTypeBean">
<xs:sequence>
<xs:element name="ship_to" type="tns:customerTypeBean"/>
<xs:element name="taxes" type="tns:TaxesTypeBean"/>
<xs:element minOccurs="0" name="customizations" type="tns:DSSalesOrderCustomizationsTypeBean"/>
</xs:sequence>
<xs:attribute name="special_instructions" type="xs:string"/>
<xs:attribute name="tax_amount" type="xs:double" use="required"/>
<xs:attribute name="unit_price" type="xs:double" use="required"/>
<xs:attribute name="item_description" type="xs:string"/>
<xs:attribute name="status_date" type="xs:string"/>
<xs:attribute name="requesting_system_line_no" type="xs:int" use="required"/>
<xs:attribute name="line_no" type="xs:int" use="required"/>
<xs:attribute name="fulfilling_system_cd" type="xs:string"/>
<xs:attribute name="fulfilling_location_cd" type="xs:string"/>
<xs:attribute name="item_status" type="xs:string" use="required"/>
<xs:attribute name="tracking_number" type="xs:string" use="required"/>
<xs:attribute name="shipping_agent" type="xs:string" use="required"/>
<xs:attribute name="item_qty" type="xs:int" use="required"/>
<xs:attribute name="item_id" type="xs:string" use="required"/>
<xs:attribute name="item_upc_cd" type="xs:string"/>
<xs:attribute name="item_ean_cd" type="xs:string"/>
<xs:attribute name="order_line_extended_freight" type="xs:decimal"/>
<xs:attribute name="order_line_customization_charge" type="xs:decimal"/>
<xs:attribute name="order_line_gift_wrap" type="xs:string"/>
<xs:attribute name="order_line_ship_alone" type="xs:string"/>
<xs:attribute name="order_line_ship_weight" type="xs:decimal"/>
<xs:attribute name="order_line_message" type="xs:string"/>
</xs:complexType>
<xs:complexType name="customerTypeBean">
<xs:sequence>
<xs:element name="name" type="tns:NameTypeBean"/>
<xs:element name="address" type="tns:AddressTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NameTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="company_name" type="xs:string"/>
<xs:element minOccurs="0" name="prefix" type="xs:string"/>
<xs:element minOccurs="0" name="first" type="xs:string"/>
<xs:element minOccurs="0" name="middle" type="xs:string"/>
<xs:element minOccurs="0" name="last" type="xs:string"/>
<xs:element minOccurs="0" name="suffix" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AddressTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="attention" type="xs:string"/>
<xs:element minOccurs="0" name="address1" type="xs:string"/>
<xs:element minOccurs="0" name="address2" type="xs:string"/>
<xs:element minOccurs="0" name="address3" type="xs:string"/>
<xs:element minOccurs="0" name="address4" type="xs:string"/>
<xs:element minOccurs="0" name="apt" type="xs:string"/>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="province" type="xs:string"/>
<xs:element minOccurs="0" name="postal" type="xs:string"/>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element minOccurs="0" name="phone1" type="xs:string"/>
<xs:element minOccurs="0" name="phone2" type="xs:string"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TaxesTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="tax" type="tns:TaxTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TaxTypeBean">
<xs:sequence>
<xs:element name="amount" type="xs:decimal"/>
</xs:sequence>
<xs:attribute name="description" type="xs:string" use="required"/>
<xs:attribute name="line_item_no" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="DSSalesOrderCustomizationsTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="customization" type="tns:DSSalesOrderCustomizationTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DSSalesOrderCustomizationTypeBean">
<xs:sequence>
<xs:element name="customization_code" type="xs:string"/>
<xs:element name="customization_message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SoldToCustomerTypeBean">
<xs:complexContent>
<xs:extension base="tns:customerTypeBean">
<xs:sequence/>
<xs:attribute name="customer_no" type="xs:string"/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="TransactionTendersTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="transaction_tender" type="tns:TransactionTenderTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TransactionTenderTypeBean">
<xs:sequence>
<xs:element name="tender_description" type="xs:string"/>
<xs:element name="tender_amount" type="xs:decimal"/>
<xs:element minOccurs="0" name="tender_account" type="xs:string"/>
</xs:sequence>
<xs:attribute name="line_item_no" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="ProductUpdate">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="product_update_request_message" type="tns:ProductUpdateRequestMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductUpdateRequestMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:ProductUpdateRequestMessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:ProductUpdateRequestMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductUpdateRequestMessageHeaderTypeBean">
<xs:sequence>
<xs:element name="datetime" type="xs:string"/>
<xs:element name="version" type="xs:string"/>
<xs:element name="source" type="xs:string"/>
<xs:element name="destination" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductUpdateRequestMessageBodyTypeBean">
<xs:sequence>
<xs:element name="system_product" type="tns:ProductUpdateRequestMessageSystemProductTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductUpdateRequestMessageSystemProductTypeBean">
<xs:sequence>
<xs:element name="description" type="xs:string"/>
<xs:element name="department" type="xs:string"/>
<xs:element name="class" type="xs:string"/>
<xs:element name="sub_class" type="xs:string"/>
<xs:element name="master_style_code" type="xs:string"/>
<xs:element minOccurs="0" name="product_locations" type="tns:ProductUpdateRequestMessageProductLocationsTypeBean"/>
</xs:sequence>
<xs:attribute name="system_code" type="xs:string" use="required"/>
<xs:attribute name="system_product_code" type="xs:string" use="required"/>
<xs:attribute name="product_code" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="ProductUpdateRequestMessageProductLocationsTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="product_location" type="tns:ProductUpdateRequestMessageProductLocationTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductUpdateRequestMessageProductLocationTypeBean">
<xs:sequence>
<xs:element name="available_qty" type="xs:string"/>
<xs:element name="next_po_qty" type="xs:string"/>
<xs:element name="next_po_date" type="xs:string"/>
</xs:sequence>
<xs:attribute name="location_code" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="ProductUpdateResponse">
<xs:sequence>
<xs:element minOccurs="0" name="product_update_response_message" type="tns:ProductUpdateResponseMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductUpdateResponseMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:ProductUpdateResponseMessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:ProductUpdateResponseMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductUpdateResponseMessageHeaderTypeBean">
<xs:sequence>
<xs:element name="datetime" type="xs:string"/>
<xs:element name="version" type="xs:string"/>
<xs:element name="source" type="xs:string"/>
<xs:element name="destination" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductUpdateResponseMessageBodyTypeBean">
<xs:sequence>
<xs:element name="response_cd" type="xs:string"/>
<xs:element name="response_description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderUpdate">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="order_update_request_message" type="tns:OrderUpdateRequestMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderUpdateRequestMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:OrderUpdateRequestMessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:OrderUpdateRequestMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderUpdateRequestMessageHeaderTypeBean">
<xs:sequence>
<xs:element name="datetime" type="xs:string"/>
<xs:element name="version" type="xs:string"/>
<xs:element name="source" type="xs:string"/>
<xs:element name="destination" type="xs:string"/>
</xs:sequence>
<xs:attribute name="xaction_response" type="xs:string" use="required"/>
<xs:attribute name="xaction_type" type="xs:string" use="required"/>
<xs:attribute name="message_type" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="OrderUpdateRequestMessageBodyTypeBean">
<xs:sequence>
<xs:element name="order" type="tns:OrderUpdateRequestMessageOrderTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderUpdateRequestMessageOrderTypeBean">
<xs:sequence>
<xs:element name="employee_id" type="xs:string"/>
<xs:element minOccurs="0" name="store_location" type="tns:OrderUpdateRequestMessageStoreLocationTypeBean"/>
</xs:sequence>
<xs:attribute name="request_id" type="xs:string" use="required"/>
<xs:attribute name="order_id" type="xs:string" use="required"/>
<xs:attribute name="under_review" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="OrderUpdateRequestMessageStoreLocationTypeBean">
<xs:sequence/>
<xs:attribute name="location_cd" type="xs:string"/>
<xs:attribute name="system_cd" type="xs:string"/>
</xs:complexType>
<xs:complexType name="OrderUpdateResponse">
<xs:sequence>
<xs:element minOccurs="0" name="order_update_response_message" type="tns:OrderUpdateResponseMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderUpdateResponseMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:MessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:OrderUpdateResponseMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderUpdateResponseMessageBodyTypeBean">
<xs:sequence>
<xs:element name="response" type="tns:OrderUpdateResponseMessageResponseTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderUpdateResponseMessageResponseTypeBean">
<xs:sequence>
<xs:element name="response_description" type="xs:string"/>
</xs:sequence>
<xs:attribute name="request_id" type="xs:int" use="required"/>
<xs:attribute name="response_code" type="xs:int" use="required"/>
</xs:complexType>
<xs:complexType name="EchoTest">
<xs:sequence>
<xs:element minOccurs="0" name="TestMesg" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="EchoTestResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderSearch">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="order_search_request_message" type="tns:OrderSearchRequestMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderSearchRequestMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:OrderSearchMessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:OrderSearchRequestMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderSearchMessageHeaderTypeBean">
<xs:sequence>
<xs:element name="datetime" type="xs:string"/>
<xs:element name="version" type="xs:string"/>
<xs:element name="source" type="xs:string"/>
<xs:element name="destination" type="xs:string"/>
</xs:sequence>
<xs:attribute name="xaction_type" type="xs:string" use="required"/>
<xs:attribute name="xaction_response" type="xs:string" use="required"/>
<xs:attribute name="message_type" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="OrderSearchRequestMessageBodyTypeBean">
<xs:sequence>
<xs:element name="lookup_data" type="tns:OrderSearchRequestMessageLookupDataTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrderSearchRequestMessageLookupDataTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="ref_transaction_no" type="xs:string"/>
<xs:element name="employee_id" type="xs:string"/>
<xs:element minOccurs="0" name="max_no_responses" type="xs:int"/>
<xs:element name="store_location" type="tns:OrderSearchRequestMessageStoreLocationTypeBean"/>
</xs:sequence>
<xs:attribute name="order_id" type="xs:string"/>
<xs:attribute name="request_id" type="xs:string"/>
<xs:attribute name="order_date" type="xs:string"/>
<xs:attribute name="sold_to_company" type="xs:string"/>
<xs:attribute name="sold_to_first_name" type="xs:string"/>
<xs:attribute name="sold_to_last_name" type="xs:string"/>
<xs:attribute name="sold_to_province" type="xs:string"/>
<xs:attribute name="sold_to_postal" type="xs:string"/>
<xs:attribute name="sold_to_country" type="xs:string"/>
<xs:attribute name="sold_to_phone" type="xs:string"/>
<xs:attribute name="sold_to_email" type="xs:string"/>
<xs:attribute name="ship_to_company" type="xs:string"/>
<xs:attribute name="ship_to_first_name" type="xs:string"/>
<xs:attribute name="ship_to_last_name" type="xs:string"/>
<xs:attribute name="ship_to_province" type="xs:string"/>
<xs:attribute name="ship_to_postal" type="xs:string"/>
<xs:attribute name="ship_to_country" type="xs:string"/>
<xs:attribute name="ship_to_phone" type="xs:string"/>
<xs:attribute name="ship_to_email" type="xs:string"/>
</xs:complexType>
<xs:complexType name="OrderSearchRequestMessageStoreLocationTypeBean">
<xs:sequence/>
<xs:attribute name="location_cd" type="xs:string"/>
<xs:attribute name="system_cd" type="xs:string"/>
</xs:complexType>
<xs:complexType name="OrderSearchResponse">
<xs:sequence>
<xs:element minOccurs="0" name="order_search_response_message" type="tns:StatusResponseMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusUpdate">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="status_update_request_message" type="tns:StatusUpdateRequestMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusUpdateRequestMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:StatusUpdateRequestMessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:StatusUpdateRequestMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusUpdateRequestMessageHeaderTypeBean">
<xs:sequence>
<xs:element name="datetime" type="xs:string"/>
<xs:element name="version" type="xs:string"/>
<xs:element name="source" type="xs:string"/>
<xs:element name="destination" type="xs:string"/>
</xs:sequence>
<xs:attribute name="xaction_response" type="xs:string" use="required"/>
<xs:attribute name="xaction_type" type="xs:string" use="required"/>
<xs:attribute name="message_type" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="StatusUpdateRequestMessageBodyTypeBean">
<xs:sequence>
<xs:element name="order" type="tns:StatusUpdateRequestMessageOrderTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusUpdateRequestMessageOrderTypeBean">
<xs:sequence>
<xs:element name="employee_id" type="xs:string"/>
<xs:element minOccurs="0" name="store_location" type="tns:StatusUpdateRequestMessageStoreLocationTypeBean"/>
<xs:element minOccurs="0" name="items" type="tns:StatusUpdateRequestMessageItemsTypeBean"/>
</xs:sequence>
<xs:attribute name="request_id" type="xs:string" use="required"/>
<xs:attribute name="order_id" type="xs:string" use="required"/>
<xs:attribute name="order_status" type="xs:string" use="required"/>
<xs:attribute name="order_status_reason_code" type="xs:string"/>
<xs:attribute name="order_status_reason_note" type="xs:string"/>
</xs:complexType>
<xs:complexType name="StatusUpdateRequestMessageStoreLocationTypeBean">
<xs:sequence/>
<xs:attribute name="location_cd" type="xs:string"/>
<xs:attribute name="system_cd" type="xs:string"/>
</xs:complexType>
<xs:complexType name="StatusUpdateRequestMessageItemsTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="item" type="tns:StatusUpdateRequestMessageItemTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusUpdateRequestMessageItemTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="ship_to" type="tns:customerTypeBean"/>
</xs:sequence>
<xs:attribute name="item_id" type="xs:string" use="required"/>
<xs:attribute name="item_qty" type="xs:int" use="required"/>
<xs:attribute name="shipping_agent" type="xs:string" use="required"/>
<xs:attribute name="tracking_number" type="xs:string" use="required"/>
<xs:attribute name="item_status" type="xs:string" use="required"/>
<xs:attribute name="fulfilling_location_cd" type="xs:string"/>
<xs:attribute name="fulfilling_system_cd" type="xs:string"/>
<xs:attribute name="line_no" type="xs:int" use="required"/>
<xs:attribute name="requesting_system_line_no" type="xs:int" use="required"/>
<xs:attribute name="status_date" type="xs:string"/>
<xs:attribute name="item_status_reason_code" type="xs:string"/>
<xs:attribute name="item_status_reason_note" type="xs:string"/>
</xs:complexType>
<xs:complexType name="StatusUpdateResponse">
<xs:sequence>
<xs:element minOccurs="0" name="generic_response_message" type="tns:StatusUpdateResponseMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusUpdateResponseMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:MessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:StatusUpdateResponseMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusUpdateResponseMessageBodyTypeBean">
<xs:sequence>
<xs:element name="response" type="tns:StatusUpdateResponseMessageResponseTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusUpdateResponseMessageResponseTypeBean">
<xs:sequence>
<xs:element name="response_description" type="xs:string"/>
</xs:sequence>
<xs:attribute name="order_id" type="xs:string" use="required"/>
<xs:attribute name="request_id" type="xs:int" use="required"/>
<xs:attribute name="response_code" type="xs:int" use="required"/>
<xs:attribute name="line_no" type="xs:int" use="required"/>
</xs:complexType>
<xs:complexType name="Fulfillments">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="fulfillment_request_message" type="tns:FulfillmentRequestMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FulfillmentRequestMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:FulfillmentRequestMessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:FulfillmentRequestMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FulfillmentRequestMessageHeaderTypeBean">
<xs:sequence>
<xs:element name="datetime" type="xs:string"/>
<xs:element name="version" type="xs:string"/>
<xs:element name="source" type="xs:string"/>
<xs:element name="destination" type="xs:string"/>
</xs:sequence>
<xs:attribute name="xaction_type" type="xs:string" use="required"/>
<xs:attribute name="xaction_response" type="xs:string" use="required"/>
<xs:attribute name="message_type" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="FulfillmentRequestMessageBodyTypeBean">
<xs:sequence>
<xs:element name="store_location" type="tns:FulfillmentRequestMessageStoreLocationTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FulfillmentRequestMessageStoreLocationTypeBean">
<xs:sequence/>
<xs:attribute name="location_cd" type="xs:string"/>
<xs:attribute name="system_cd" type="xs:string"/>
</xs:complexType>
<xs:complexType name="FulfillmentsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="fulfillment_response_message" type="tns:FulfillmentResponseMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FulfillmentResponseMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:MessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:FulfillmentResponseMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FulfillmentResponseMessageBodyTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="orders" type="tns:FulfillmentResponseMessageOrdersTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FulfillmentResponseMessageOrdersTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="order" type="tns:FulfillmentResponseMessageOrderTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FulfillmentResponseMessageOrderTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="ref_transaction_no" type="xs:string"/>
<xs:element name="transaction_date" type="xs:string"/>
<xs:element name="employee_id" type="xs:string"/>
<xs:element name="transaction_subtotal" type="xs:double"/>
<xs:element name="transaction_tax" type="xs:double"/>
<xs:element name="transaction_total" type="xs:double"/>
<xs:element minOccurs="0" name="special_instructions" type="xs:string"/>
<xs:element name="transaction_channel" type="xs:string"/>
<xs:element minOccurs="0" name="ship_via" type="xs:string"/>
<xs:element minOccurs="0" name="ship_via_description" type="xs:string"/>
<xs:element minOccurs="0" name="gift" type="xs:string"/>
<xs:element minOccurs="0" name="source_code" type="xs:string"/>
<xs:element minOccurs="0" name="freight_amount" type="xs:double"/>
<xs:element minOccurs="0" name="balance_due" type="xs:double"/>
<xs:element minOccurs="0" name="currency" type="xs:string"/>
<xs:element minOccurs="0" name="under_review" type="xs:string"/>
<xs:element minOccurs="0" name="order_additional_freight_charges" type="xs:decimal"/>
<xs:element minOccurs="0" name="order_additional_charges" type="xs:decimal"/>
<xs:element minOccurs="0" name="ship_complete" type="xs:string"/>
<xs:element minOccurs="0" name="freight_tax" type="xs:decimal"/>
<xs:element minOccurs="0" name="order_message" type="xs:string"/>
<xs:element minOccurs="0" name="gift_message" type="xs:string"/>
<xs:element minOccurs="0" name="sold_to_customer" type="tns:SoldToCustomerTypeBean"/>
<xs:element name="store_location" type="tns:FulfillmentResponseMessageStoreLocationTypeBean"/>
<xs:element minOccurs="0" name="items" type="tns:FulfillmentResponseMessageItemsTypeBean"/>
<xs:element minOccurs="0" name="transaction_tenders" type="tns:TransactionTendersTypeBean"/>
</xs:sequence>
<xs:attribute name="transaction_no" type="xs:string" use="required"/>
<xs:attribute name="transaction_type_id" type="xs:string" use="required"/>
<xs:attribute name="request_id" type="xs:int" use="required"/>
<xs:attribute name="order_id" type="xs:string" use="required"/>
<xs:attribute name="transaction_status" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="FulfillmentResponseMessageStoreLocationTypeBean">
<xs:sequence/>
<xs:attribute name="request_system_cd" type="xs:string"/>
<xs:attribute name="request_location_cd" type="xs:string"/>
<xs:attribute name="system_cd" type="xs:string" use="required"/>
<xs:attribute name="location_cd" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="FulfillmentResponseMessageItemsTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="item_detail" type="tns:FulfillmentResponseMessageItemTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FulfillmentResponseMessageItemTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="location_cd" type="xs:string"/>
<xs:element minOccurs="0" name="system_cd" type="xs:string"/>
<xs:element name="item_id" type="xs:string"/>
<xs:element name="qty" type="xs:int"/>
<xs:element name="unit_price" type="xs:double"/>
<xs:element name="ship_to" type="tns:customerTypeBean"/>
<xs:element name="taxes" type="tns:TaxesTypeBean"/>
<xs:element minOccurs="0" name="special_instructions" type="xs:string"/>
<xs:element minOccurs="0" name="item_upc_cd" type="xs:string"/>
<xs:element minOccurs="0" name="item_ean_cd" type="xs:string"/>
<xs:element minOccurs="0" name="order_line_extended_freight" type="xs:decimal"/>
<xs:element minOccurs="0" name="order_line_customization_charge" type="xs:decimal"/>
<xs:element minOccurs="0" name="order_line_gift_wrap" type="xs:string"/>
<xs:element minOccurs="0" name="order_line_ship_alone" type="xs:string"/>
<xs:element minOccurs="0" name="order_line_ship_weight" type="xs:decimal"/>
<xs:element minOccurs="0" name="order_line_message" type="xs:string"/>
<xs:element minOccurs="0" name="customizations" type="tns:DSSalesOrderCustomizationsTypeBean"/>
</xs:sequence>
<xs:attribute name="requesting_system_line_no" type="xs:string"/>
<xs:attribute name="line_item_status" type="xs:string" use="required"/>
<xs:attribute name="line_item_no" type="xs:int" use="required"/>
</xs:complexType>
<xs:complexType name="StatusListRequest">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="status_list_request_message" type="tns:StatusListInquiryRequestMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusListInquiryRequestMessageTypeBean">
<xs:sequence>
                    <xs:element name="message_header" type="tns:StatusListInquiryRequestMessageHeaderTypeBean" />
                    <xs:element name="message_body" type="tns:StatusListInquiryRequestMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusListInquiryRequestMessageHeaderTypeBean">
<xs:sequence>
<xs:element name="datetime" type="xs:string"/>
<xs:element name="version" type="xs:string"/>
<xs:element name="source" type="xs:string"/>
<xs:element name="destination" type="xs:string"/>
</xs:sequence>
<xs:attribute name="xaction_type" type="xs:string" use="required"/>
<xs:attribute name="xaction_response" type="xs:string" use="required"/>
<xs:attribute name="message_type" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="StatusListInquiryRequestMessageBodyTypeBean">
<xs:sequence>
<xs:element name="lookup_data" type="tns:StatusListInquiryRequestMessageLookupDataTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusListInquiryRequestMessageLookupDataTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="ref_transaction_no" type="xs:string"/>
<xs:element name="employee_id" type="xs:string"/>
<xs:element name="store_location" type="tns:StatusListInquiryRequestMessageStoreLocationTypeBean"/>
<xs:element name="request_ids" type="tns:StatusListInquiryRequestMessageRequestIdsBean"/>
<xs:element minOccurs="0" name="statuses" type="tns:StatusListInquiryRequestMessageStatusesBean"/>
</xs:sequence>
<xs:attribute name="response_type" type="xs:string"/>
<xs:attribute name="status_condition" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="StatusListInquiryRequestMessageStoreLocationTypeBean">
<xs:sequence/>
<xs:attribute name="location_cd" type="xs:string"/>
<xs:attribute name="system_cd" type="xs:string"/>
</xs:complexType>
<xs:complexType name="StatusListInquiryRequestMessageRequestIdsBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="request_ids" type="tns:StatusListInquiryRequestMessageRequestIdBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusListInquiryRequestMessageRequestIdBean">
<xs:sequence/>
<xs:attribute name="request_id" type="xs:string"/>
</xs:complexType>
<xs:complexType name="StatusListInquiryRequestMessageStatusesBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="statuses" type="tns:StatusListInquiryRequestMessageStatusBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusListInquiryRequestMessageStatusBean">
<xs:sequence/>
<xs:attribute name="status" type="xs:string"/>
</xs:complexType>
<xs:complexType name="StatusListRequestResponse">
<xs:sequence>
<xs:element minOccurs="0" name="status_list_request_message" type="tns:StatusListInquiryResponseMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusListInquiryResponseMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:MessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:StatusListInquiryResponseMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusListInquiryResponseMessageBodyTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="orders" type="tns:StatusListInquiryResponseMessageOrdersTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusListInquiryResponseMessageOrdersTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="order" type="tns:StatusListInquiryResponseMessageOrderTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusListInquiryResponseMessageOrderTypeBean">
<xs:sequence>
<xs:element name="order_type" type="xs:int"/>
<xs:element minOccurs="0" name="items" type="tns:StatusListInquiryResponseMessageItemsTypeBean"/>
</xs:sequence>
<xs:attribute name="order_action_response" type="xs:string"/>
<xs:attribute name="request_id" type="xs:int" use="required"/>
<xs:attribute name="order_id" type="xs:string" use="required"/>
<xs:attribute name="order_status" type="xs:string" use="required"/>
<xs:attribute name="originating_system_cd" type="xs:string" use="required"/>
<xs:attribute name="originating_location_cd" type="xs:string" use="required"/>
<xs:attribute name="originating_location_description" type="xs:string" use="required"/>
<xs:attribute name="order_date" type="xs:string" use="required"/>
<xs:attribute name="ref_transaction_no" type="xs:string"/>
<xs:attribute name="under_review" type="xs:string"/>
<xs:attribute name="order_additional_freight_charges" type="xs:decimal"/>
<xs:attribute name="order_additional_charges" type="xs:decimal"/>
<xs:attribute name="ship_complete" type="xs:string"/>
<xs:attribute name="freight_tax" type="xs:decimal"/>
<xs:attribute name="order_message" type="xs:string"/>
<xs:attribute name="gift_message" type="xs:string"/>
</xs:complexType>
<xs:complexType name="StatusListInquiryResponseMessageItemsTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="item" type="tns:StatusListInquiryResponseMessageItemTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatusListInquiryResponseMessageItemTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="customizations" type="tns:DSSalesOrderCustomizationsTypeBean"/>
</xs:sequence>
<xs:attribute name="item_id" type="xs:string" use="required"/>
<xs:attribute name="item_qty" type="xs:int" use="required"/>
<xs:attribute name="shipping_agent" type="xs:string" use="required"/>
<xs:attribute name="tracking_number" type="xs:string" use="required"/>
<xs:attribute name="item_status" type="xs:string" use="required"/>
<xs:attribute name="fulfilling_location_cd" type="xs:string"/>
<xs:attribute name="fulfilling_system_cd" type="xs:string"/>
<xs:attribute name="line_no" type="xs:int" use="required"/>
<xs:attribute name="requesting_system_line_no" type="xs:int" use="required"/>
<xs:attribute name="status_date" type="xs:string"/>
<xs:attribute name="item_upc_cd" type="xs:string"/>
<xs:attribute name="item_ean_cd" type="xs:string"/>
<xs:attribute name="order_line_extended_freight" type="xs:decimal"/>
<xs:attribute name="order_line_customization_charge" type="xs:decimal"/>
<xs:attribute name="order_line_gift_wrap" type="xs:string"/>
<xs:attribute name="order_line_ship_alone" type="xs:string"/>
<xs:attribute name="order_line_ship_weight" type="xs:decimal"/>
<xs:attribute name="order_line_message" type="xs:string"/>
</xs:complexType>
<xs:complexType name="SubmitOrder">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="order_request_message" type="tns:SubmitOrderRequestMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SubmitOrderRequestMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:SubmitOrderRequestMessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:SubmitOrderRequestMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SubmitOrderRequestMessageHeaderTypeBean">
<xs:sequence>
<xs:element name="datetime" type="xs:string"/>
<xs:element name="version" type="xs:string"/>
<xs:element name="source" type="xs:string"/>
<xs:element name="destination" type="xs:string"/>
</xs:sequence>
<xs:attribute name="message_type" type="xs:string" use="required"/>
<xs:attribute name="xaction_response" type="xs:string" use="required"/>
<xs:attribute name="xaction_type" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="SubmitOrderRequestMessageBodyTypeBean">
<xs:sequence>
<xs:element name="transactions" type="tns:SubmitOrderRequestMessageTransactionsTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SubmitOrderRequestMessageTransactionsTypeBean">
<xs:sequence>
<xs:element name="transaction_header" type="tns:SubmitOrderRequestMessageTransactionHeaderTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SubmitOrderRequestMessageTransactionHeaderTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="ref_transaction_no" type="xs:string"/>
<xs:element name="transaction_date" type="xs:string"/>
<xs:element name="employee_id" type="xs:string"/>
<xs:element name="transaction_subtotal" type="xs:decimal"/>
<xs:element name="transaction_tax" type="xs:decimal"/>
<xs:element name="transaction_total" type="xs:decimal"/>
<xs:element minOccurs="0" name="special_instructions" type="xs:string"/>
<xs:element name="transaction_status" type="xs:string"/>
<xs:element name="transaction_channel" type="xs:string"/>
<xs:element minOccurs="0" name="ship_via" type="xs:string"/>
<xs:element minOccurs="0" name="ship_via_description" type="xs:string"/>
<xs:element minOccurs="0" name="gift" type="xs:string"/>
<xs:element minOccurs="0" name="source_code" type="xs:string"/>
<xs:element minOccurs="0" name="freight_amount" type="xs:decimal"/>
<xs:element minOccurs="0" name="balance_due" type="xs:decimal"/>
<xs:element minOccurs="0" name="currency" type="xs:string"/>
<xs:element minOccurs="0" name="order_additional_freight_charges" type="xs:decimal"/>
<xs:element minOccurs="0" name="order_additional_charges" type="xs:decimal"/>
<xs:element minOccurs="0" name="ship_complete" type="xs:string"/>
<xs:element minOccurs="0" name="freight_tax" type="xs:decimal"/>
<xs:element minOccurs="0" name="order_message" type="xs:string"/>
<xs:element minOccurs="0" name="gift_message" type="xs:string"/>
<xs:element minOccurs="0" name="under_review" type="xs:string"/>
<xs:element minOccurs="0" name="sold_to_customer" type="tns:SoldToCustomerTypeBean"/>
<xs:element minOccurs="0" name="store_location" type="tns:StoreLocationTypeBean"/>
<xs:element minOccurs="0" name="transaction_details" type="tns:SubmitOrderRequestTransactionDetailsTypeBean"/>
<xs:element minOccurs="0" name="transaction_tenders" type="tns:TransactionTendersTypeBean"/>
</xs:sequence>
<xs:attribute name="transaction_type_id" type="xs:string" use="required"/>
<xs:attribute name="transaction_no" type="xs:string" use="required"/>
<xs:attribute name="request_id" type="xs:string" use="required"/>
<xs:attribute name="order_id" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="StoreLocationTypeBean">
<xs:sequence/>
<xs:attribute name="location_cd" type="xs:string"/>
<xs:attribute name="system_cd" type="xs:string"/>
</xs:complexType>
<xs:complexType name="SubmitOrderRequestTransactionDetailsTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="transaction_detail" type="tns:SubmitOrderRequestTransactionDetailTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SubmitOrderRequestTransactionDetailTypeBean">
<xs:sequence>
<xs:element name="location_cd" type="xs:string"/>
<xs:element name="system_cd" type="xs:string"/>
<xs:element name="item_id" type="xs:string"/>
<xs:element name="qty" type="xs:int"/>
<xs:element name="unit_price" type="xs:string"/>
<xs:element minOccurs="0" name="ship_to" type="tns:customerTypeBean"/>
<xs:element minOccurs="0" name="taxes" type="tns:TaxesTypeBean"/>
<xs:element minOccurs="0" name="line_item_status" type="xs:string"/>
<xs:element minOccurs="0" name="special_instructions" type="xs:string"/>
<xs:element minOccurs="0" name="shipping_agent" type="xs:string"/>
<xs:element minOccurs="0" name="tracking_number" type="xs:string"/>
<xs:element minOccurs="0" name="item_upc_cd" type="xs:string"/>
<xs:element minOccurs="0" name="item_ean_cd" type="xs:string"/>
<xs:element minOccurs="0" name="order_line_extended_freight" type="xs:decimal"/>
<xs:element minOccurs="0" name="order_line_customization_charge" type="xs:decimal"/>
<xs:element minOccurs="0" name="order_line_gift_wrap" type="xs:string"/>
<xs:element minOccurs="0" name="order_line_ship_alone" type="xs:string"/>
<xs:element minOccurs="0" name="order_line_ship_weight" type="xs:decimal"/>
<xs:element minOccurs="0" name="order_line_message" type="xs:string"/>
<xs:element minOccurs="0" name="customizations" type="tns:DSSalesOrderCustomizationsTypeBean"/>
</xs:sequence>
<xs:attribute name="line_item_no" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="SubmitOrderResponse">
<xs:sequence>
<xs:element minOccurs="0" name="generic_response_message" type="tns:SubmitOrderResponseMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SubmitOrderResponseMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:MessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:SubmitOrderResponseMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SubmitOrderResponseMessageBodyTypeBean">
<xs:sequence>
<xs:element name="response" type="tns:SubmitOrderResponseMessageResponseTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SubmitOrderResponseMessageResponseTypeBean">
<xs:sequence>
<xs:element name="response_description" type="xs:string"/>
<xs:element name="response_fulfillment_system_cd" type="xs:string"/>
<xs:element name="response_fulfillment_location_cd" type="xs:string"/>
<xs:element minOccurs="0" name="fulfillment_details" type="tns:SubmitOrderResponseMessageFulfillmentDetails"/>
</xs:sequence>
<xs:attribute name="order_id" type="xs:string" use="required"/>
<xs:attribute name="request_id" type="xs:int" use="required"/>
<xs:attribute name="response_code" type="xs:int" use="required"/>
</xs:complexType>
<xs:complexType name="SubmitOrderResponseMessageFulfillmentDetails">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="fulfillment_detail" type="tns:SubmitOrderResponseMessageFulfillmentDetail"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SubmitOrderResponseMessageFulfillmentDetail">
<xs:sequence/>
<xs:attribute name="fulfillment_qty" type="xs:int" use="required"/>
<xs:attribute name="fulfillment_location_cd" type="xs:string"/>
<xs:attribute name="fulfillment_system_cd" type="xs:string"/>
<xs:attribute name="item_id" type="xs:string" use="required"/>
<xs:attribute name="requesting_system_line_no" type="xs:int" use="required"/>
<xs:attribute name="line_no" type="xs:int" use="required"/>
</xs:complexType>
<xs:complexType name="ProductAvailability">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="product_availability_request_message" type="tns:AvailabilityByOrderTypeRequestMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderTypeRequestMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:AvailabilityByOrderTypeRequestMessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:AvailabilityByOrderTypeRequestMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderTypeRequestMessageHeaderTypeBean">
<xs:sequence>
<xs:element name="datetime" type="xs:string"/>
<xs:element name="version" type="xs:string"/>
<xs:element name="source" type="xs:string"/>
<xs:element name="destination" type="xs:string"/>
</xs:sequence>
<xs:attribute name="xaction_type" type="xs:string" use="required"/>
<xs:attribute name="xaction_response" type="xs:string" use="required"/>
<xs:attribute name="message_type" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderTypeRequestMessageBodyTypeBean">
<xs:sequence>
<xs:element name="requesting_location" type="tns:StoreLocationTypeBean"/>
<xs:element name="fulfillment_types" type="tns:AvailabilityByOrderTypeRequestMessageFulfillmentsTypeBean"/>
<xs:element name="items" type="tns:AvailabilityByOrderTypeRequestMessageItemsTypeBean"/>
<xs:element name="address" type="tns:AvailabilityByOrderTypeRequestMessageAddressTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderTypeRequestMessageFulfillmentsTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="fulfillment_type" type="tns:AvailabilityByOrderTypeRequestMessageFulfillmentTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderTypeRequestMessageFulfillmentTypeBean">
<xs:sequence/>
<xs:attribute name="type" type="xs:string"/>
<xs:attribute name="range_distance" type="xs:string"/>
<xs:attribute name="range_unit" type="xs:string"/>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderTypeRequestMessageItemsTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="item" type="tns:AvailabilityByOrderTypeRequestMessageItemTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderTypeRequestMessageItemTypeBean">
<xs:sequence/>
<xs:attribute name="item_id" type="xs:string" use="required"/>
<xs:attribute name="qty" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderTypeRequestMessageAddressTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="province" type="xs:string"/>
<xs:element minOccurs="0" name="postal" type="xs:string"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductAvailabilityResponse">
<xs:sequence>
<xs:element minOccurs="0" name="product_availability_response_message" type="tns:ProductAvailabilityResponseMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProductAvailabilityResponseMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:MessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:AvailabilityByOrderResponseMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderResponseMessageBodyTypeBean">
<xs:sequence>
<xs:element name="fulfillment_types" type="tns:AvailabilityByOrderTypeResponseMessageFulfillmentsTypeBean"/>
<xs:element name="locations" type="tns:AvailabilityByOrderTypeResponseMessageLocationsTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderTypeResponseMessageFulfillmentsTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="fulfillment_type" type="tns:AvailabilityByOrderTypeResponseMessageFulfillmentTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderTypeResponseMessageFulfillmentTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="items" type="tns:AvailabilityByOrderTypeResponseMessageItemsTypeBean"/>
</xs:sequence>
<xs:attribute name="type" type="xs:string"/>
<xs:attribute name="response_cd" type="xs:string"/>
<xs:attribute name="response_description" type="xs:string"/>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderTypeResponseMessageItemsTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="item" type="tns:AvailabilityByOrderTypeResponseMessageItemTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderTypeResponseMessageItemTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="locations_lu" type="tns:AvailabilityByOrderTypeResponseMessageLocationLookupTypeBean"/>
</xs:sequence>
<xs:attribute name="item_id" type="xs:string" use="required"/>
<xs:attribute name="maximum_available" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderTypeResponseMessageLocationLookupTypeBean">
<xs:sequence/>
<xs:attribute name="location_cd" type="xs:string" use="required"/>
<xs:attribute name="system_cd" type="xs:string" use="required"/>
<xs:attribute name="distance" type="xs:string" use="required"/>
<xs:attribute name="distance_unit" type="xs:string" use="required"/>
<xs:attribute name="available_qty" type="xs:string" use="required"/>
<xs:attribute name="next_po_qty" type="xs:string" use="required"/>
<xs:attribute name="po_dt" type="xs:string" use="required"/>
<xs:attribute name="satisfied_request" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderTypeResponseMessageLocationsTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="location" type="tns:AvailabilityByOrderTypeResponseMessageLocationTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AvailabilityByOrderTypeResponseMessageLocationTypeBean">
<xs:sequence>
<xs:element name="locationname" type="xs:string"/>
<xs:element name="address" type="tns:AddressTypeBean"/>
</xs:sequence>
<xs:attribute name="location_cd" type="xs:string" use="required"/>
<xs:attribute name="system_cd" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="LocateItems">
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="location_request_message" type="tns:LocateItemsRequestMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocateItemsRequestMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:LocateItemsRequestMessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:LocateIemsRequestMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocateItemsRequestMessageHeaderTypeBean">
<xs:sequence>
<xs:element name="datetime" type="xs:string"/>
<xs:element name="version" type="xs:string"/>
<xs:element name="source" type="xs:string"/>
<xs:element name="destination" type="xs:string"/>
</xs:sequence>
<xs:attribute name="xaction_type" type="xs:string" use="required"/>
<xs:attribute name="xaction_response" type="xs:string" use="required"/>
<xs:attribute name="message_type" type="xs:string"/>
<xs:attribute name="original_request_id" type="xs:string"/>
</xs:complexType>
<xs:complexType name="LocateIemsRequestMessageBodyTypeBean">
<xs:sequence>
<xs:element name="items" type="tns:LocateItemsRequestMessageItemsTypeBean"/>
<xs:element name="store_location" type="tns:LocateItemsRequestMessageStoreLocationTypeBean"/>
<xs:element name="address" type="tns:LocateItemsRequestMessageAddressTypeBean"/>
<xs:element name="range" type="tns:LocateItemsRequestMessageRangeTypeBean"/>
<xs:element name="requested_location" type="tns:LocateItemsRequestMessageRequestedLocationTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocateItemsRequestMessageItemsTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="item" type="tns:LocateItemsRequestMessageItemTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocateItemsRequestMessageItemTypeBean">
<xs:sequence/>
<xs:attribute name="item_id" type="xs:string" use="required"/>
<xs:attribute name="qty" type="xs:string" use="required"/>
<xs:attribute name="fulfillment_type" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="LocateItemsRequestMessageStoreLocationTypeBean">
<xs:sequence/>
<xs:attribute name="location_cd" type="xs:string"/>
<xs:attribute name="system_cd" type="xs:string"/>
</xs:complexType>
<xs:complexType name="LocateItemsRequestMessageAddressTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="address1" type="xs:string"/>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="province" type="xs:string"/>
<xs:element minOccurs="0" name="postal" type="xs:string"/>
<xs:element minOccurs="0" name="country" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocateItemsRequestMessageRangeTypeBean">
<xs:sequence>
<xs:element minOccurs="0" name="distance" type="xs:string"/>
<xs:element minOccurs="0" name="unit" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocateItemsRequestMessageRequestedLocationTypeBean">
<xs:sequence/>
<xs:attribute name="location_cd" type="xs:string"/>
<xs:attribute name="system_cd" type="xs:string"/>
</xs:complexType>
<xs:complexType name="LocateItemsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="location_response_message" type="tns:LocateItemsResponseMessageTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocateItemsResponseMessageTypeBean">
<xs:sequence>
<xs:element name="message_header" type="tns:MessageHeaderTypeBean"/>
<xs:element name="message_body" type="tns:LocateItemsResponseMessageBodyTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocateItemsResponseMessageBodyTypeBean">
<xs:sequence>
<xs:element name="items" type="tns:LocateItemsResponseMessageItemsTypeBean"/>
<xs:element name="locations" type="tns:LocateItemsResponseMessageLocationsTypeBean"/>
</xs:sequence>
<xs:attribute name="split_order" type="xs:string"/>
<xs:attribute name="request_id" type="xs:string"/>
</xs:complexType>
<xs:complexType name="LocateItemsResponseMessageItemsTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="item" type="tns:LocateItemsResponseMessageItemTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocateItemsResponseMessageItemTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="locations_lu" type="tns:LocateItemsResponseMessageLocationLookupTypeBean"/>
</xs:sequence>
<xs:attribute name="response_description" type="xs:string" use="required"/>
<xs:attribute name="response_cd" type="xs:string" use="required"/>
<xs:attribute name="item_id" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="LocateItemsResponseMessageLocationLookupTypeBean">
<xs:sequence/>
<xs:attribute name="location_cd" type="xs:string" use="required"/>
<xs:attribute name="system_cd" type="xs:string" use="required"/>
<xs:attribute name="distance" type="xs:string" use="required"/>
<xs:attribute name="distance_unit" type="xs:string" use="required"/>
<xs:attribute name="available_qty" type="xs:string" use="required"/>
<xs:attribute name="next_po_qty" type="xs:string" use="required"/>
<xs:attribute name="po_dt" type="xs:string" use="required"/>
<xs:attribute name="fulfillment_type" type="xs:string" use="required"/>
</xs:complexType>
<xs:complexType name="LocateItemsResponseMessageLocationsTypeBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="location" type="tns:LocateItemsResponseMessageLocationTypeBean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocateItemsResponseMessageLocationTypeBean">
<xs:sequence>
<xs:element name="locationname" type="xs:string"/>
<xs:element name="address" type="tns:AddressTypeBean"/>
</xs:sequence>
<xs:attribute name="location_cd" type="xs:string" use="required"/>
<xs:attribute name="system_cd" type="xs:string" use="required"/>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="OrderUpdateResponse">
    <wsdl:part element="tns:OrderUpdateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StatusUpdateResponse">
    <wsdl:part element="tns:StatusUpdateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StatusRequestResponse">
    <wsdl:part element="tns:StatusRequestResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderSearch">
    <wsdl:part element="tns:OrderSearch" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FulfillmentsResponse">
    <wsdl:part element="tns:FulfillmentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StatusUpdate">
    <wsdl:part element="tns:StatusUpdate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProductAvailabilityResponse">
    <wsdl:part element="tns:ProductAvailabilityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StatusRequest">
    <wsdl:part element="tns:StatusRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Fulfillments">
    <wsdl:part element="tns:Fulfillments" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProductAvailability">
    <wsdl:part element="tns:ProductAvailability" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProductUpdateResponse">
    <wsdl:part element="tns:ProductUpdateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderSearchResponse">
    <wsdl:part element="tns:OrderSearchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StatusListRequest">
    <wsdl:part element="tns:StatusListRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LocateItemsResponse">
    <wsdl:part element="tns:LocateItemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrderUpdate">
    <wsdl:part element="tns:OrderUpdate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EchoTest">
    <wsdl:part element="tns:EchoTest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EchoTestResponse">
    <wsdl:part element="tns:EchoTestResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubmitOrderResponse">
    <wsdl:part element="tns:SubmitOrderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StatusListRequestResponse">
    <wsdl:part element="tns:StatusListRequestResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProductUpdate">
    <wsdl:part element="tns:ProductUpdate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LocateItems">
    <wsdl:part element="tns:LocateItems" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubmitOrder">
    <wsdl:part element="tns:SubmitOrder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Locate">
    <wsdl:operation name="StatusRequest">
      <wsdl:input message="tns:StatusRequest" name="StatusRequest">
    </wsdl:input>
      <wsdl:output message="tns:StatusRequestResponse" name="StatusRequestResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductUpdate">
      <wsdl:input message="tns:ProductUpdate" name="ProductUpdate">
    </wsdl:input>
      <wsdl:output message="tns:ProductUpdateResponse" name="ProductUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderUpdate">
      <wsdl:input message="tns:OrderUpdate" name="OrderUpdate">
    </wsdl:input>
      <wsdl:output message="tns:OrderUpdateResponse" name="OrderUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoTest">
      <wsdl:input message="tns:EchoTest" name="EchoTest">
    </wsdl:input>
      <wsdl:output message="tns:EchoTestResponse" name="EchoTestResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderSearch">
      <wsdl:input message="tns:OrderSearch" name="OrderSearch">
    </wsdl:input>
      <wsdl:output message="tns:OrderSearchResponse" name="OrderSearchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusUpdate">
      <wsdl:input message="tns:StatusUpdate" name="StatusUpdate">
    </wsdl:input>
      <wsdl:output message="tns:StatusUpdateResponse" name="StatusUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fulfillments">
      <wsdl:input message="tns:Fulfillments" name="Fulfillments">
    </wsdl:input>
      <wsdl:output message="tns:FulfillmentsResponse" name="FulfillmentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusListRequest">
      <wsdl:input message="tns:StatusListRequest" name="StatusListRequest">
    </wsdl:input>
      <wsdl:output message="tns:StatusListRequestResponse" name="StatusListRequestResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitOrder">
      <wsdl:input message="tns:SubmitOrder" name="SubmitOrder">
    </wsdl:input>
      <wsdl:output message="tns:SubmitOrderResponse" name="SubmitOrderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductAvailability">
      <wsdl:input message="tns:ProductAvailability" name="ProductAvailability">
    </wsdl:input>
      <wsdl:output message="tns:ProductAvailabilityResponse" name="ProductAvailabilityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocateItems">
      <wsdl:input message="tns:LocateItems" name="LocateItems">
    </wsdl:input>
      <wsdl:output message="tns:LocateItemsResponse" name="LocateItemsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LocateServiceSoapBinding" type="tns:Locate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OrderUpdate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="OrderUpdate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="OrderUpdateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductUpdate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ProductUpdate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ProductUpdateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="StatusRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="StatusRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoTest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="EchoTest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="EchoTestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderSearch">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="OrderSearch">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="OrderSearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusUpdate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="StatusUpdate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="StatusUpdateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fulfillments">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="Fulfillments">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="FulfillmentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusListRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="StatusListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="StatusListRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="SubmitOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SubmitOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocateItems">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="LocateItems">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="LocateItemsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductAvailability">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ProductAvailability">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ProductAvailabilityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocateService">
    <wsdl:port binding="tns:LocateServiceSoapBinding" name="LocatePort">
      <soap:address location="http://ana-dev-loc:8080/Locate/LocateServices"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>